* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #d7e3ff, #f1f4ff);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    max-width: 500px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    backdrop-filter: blur(4px);
}

.tenor-gif-embed {
    max-width: 250px;
}

h1 {
    font-size: 26px;
    color: #3b4b91;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.btn {
    display: flex;
    gap: 20px;
}

.btn a {
    text-decoration: none;
    color: #3b3b3b;
    background: #ffffff;
    padding: 12px 45px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    font-size: 18px;
    transition: 0.3s;
}

.btn a:hover {
    transform: scale(1.1);
    background: #e9ebff;
}
.objeto {
    position: fixed;
    top: -10px;
    font-size: 28px;
    animation: caer linear forwards;
    pointer-events: none;
    z-index: 999;
    opacity: 0.8;
}

@keyframes caer {
    to {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0;
    }
}